# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

# Django/static
staticfiles/
media/

# Node
node_modules/
dist/
.vite/

# Android/Gradle
.gradle/
local.properties
*.iml
build/
.idea/

# Logs
*.log

