:root {
  font-family: "PingFang SC", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #122033;
  background-color: #eef4fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

